.container {
    background: white;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

ion-content {
    --background: #F5F5F5;
}

.row-header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

.data-col {
    color: black;

    ion-buttons {
        color: white;

        ion-button {
            text-align: center;
            --border-radius: 4px;
        }

        .update-button {
            --background: var(--ion-color-primary);
        }

        .archive-button {
            --background: var(--ion-color-danger);
        }
    }
}

.input-row {}

.header-title {
    font-size: 30px;
}

.add-button {
    font-size: 14px;
    height: 35px;
}

.input-style {
    border: 1px solid rgb(128, 128, 128, .7);
    border-radius: 8px;
    --padding-start: 10px;
    --padding-end: 10px;
}

.label-style {
    margin-left: 10px;
    --color: rgb(128, 128, 128);
}

.editor {
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;

    .quill-editor-style {
        height: 86%;
    }
}

.save-button {
    --background: var(--ion-color-success);
    --color: white;
}

.cancel-button {
    --background: var(--ion-color-danger);
    --color: white;
}