.container {
    background: white;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

ion-content {
    --background: #F5F5F5;
}

.data-list .data-row:hover {
    background-color: rgb(220, 220, 220, .6);
}

.data-row {
    position: relative;
    overflow: hidden;
}


.header-row {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

.data-col {
    color: black;

    ion-buttons {
        color: white;

        ion-button {
            text-align: center;
            --text-transform: none;
            --border-radius: 4px;
        }

        .update-button {
            --background: var(--ion-color-primary);
        }

        .archive-button {
            --background: var(--ion-color-danger);
        }

        .restore-button {
            --background: var(--ion-color-success);
        }
    }
}

.input-row {}

.header-title {
    font-size: 30px;
}

.add-button {
    font-size: 14px;
    height: 35px;

    ion-label {
        text-transform: none;
    }
}

.input-style {
    border: 1px solid rgb(128, 128, 128, .7);
    border-radius: 8px;
    --padding-start: 10px;
    --padding-end: 10px;
}

.label-style {
    margin-left: 10px;
    --color: rgb(128, 128, 128);
}

.editor {
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;

    .quill-editor-style {
        height: 86%;
    }
}

.save-button {
    --background: var(--ion-color-success);
    --color: white;
}

.select-style {
    --padding-start: 10px;
    --padding-end: 10px;
    width: 550px;
}

.picker-label {
    border: 1px solid black;
    margin-top: 10px;

    background: grey;
}

.vue-picker {
    border: 1px solid black;
    width: 100px;
    overflow: visible;
}

.details-header-label {
    margin-left: 6px;

    font-size: 1.5rem;
}

.details-col {
    padding-left: 12px;
}

.details-label {
    font-weight: 700;
    margin-top: 6px;
}

.details-grid {
    color: grey;
}

.details-buttons {
    .details-update-button {
        background: var(--ion-color-medium);
        color: white;
    }
}

.description-text {
    color: black;
}