ion-toolbar {
    --background: #58a89d;
}

.home-col {
    ion-button {
        font-size: 25px;
        letter-spacing: 6px;
        height: 100%;
        margin: auto;
        --color: white;

        ion-icon {
            margin-right: 10px;
        }
    }
}

ion-item {
    --background: enherit;
    --color: white;
    font-size: 20px;

    ion-button {
        font-size: 14px;
        height: 100%;
        margin-right: 30px;
        --color: white;
    }

    ion-avatar {
        margin-right: 10px;
    }
}